# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
.angular
libs/pct-pipeline/src/fixtures
libs/pct-pipeline/src/doc-template
tools/deploy3/dist
tools/deploy3/node_modules