<sh-chat-bubble-presentation
  [isOpen]="isOpen()"
  [isHistoryCollapsed]="isHistoryCollapsed()"
  [isSessionLoading]="isSessionLoading()"
  [sessions]="sessions()"
  [selectedSessionId]="selectedSessionId()"
  [editingSessionId]="editingSessionId()"
  [editedTitle]="editedTitle()"
  [sessionPendingDeletion]="sessionPendingDeletion()"
  [conversationHistory]="conversationHistory()"
  [isSending]="isSending()"
  [isHistoryLoading]="isHistoryLoading()"
  [error]="error()"
  [hasReachedSessionLimit]="hasReachedSessionLimit()"
  [sessionLimit]="sessionLimit"
  [currentMessage]="currentMessage()"
  (toggleChat)="toggleChat()"
  (startNewChat)="startNewChat()"
  (selectSession)="selectSession($event)"
  (sessionRenameBegin)="beginRename($event)"
  (editedTitleChange)="onEditedTitleChange($event)"
  (sessionRenameCommit)="commitRename($event)"
  (sessionRenameCancel)="cancelRename()"
  (toggleHistory)="toggleHistory()"
  (closeChat)="closeChat()"
  (sessionDeleteRequested)="requestDelete($event)"
  (sessionDeleteConfirmed)="confirmDelete($event)"
  (sessionDeleteCanceled)="cancelDelete()"
  (currentMessageChange)="onCurrentMessageChange($event)"
  (messageSend)="sendMessage()"
></sh-chat-bubble-presentation>
