<sh-hwk-document-upload-presentation
  [title]="title"
  [description]="description"
  [isRequired]="isRequired"
  [requiredHint]="requiredHint"
  [showRequiredError]="showRequiredError"
  [roleMissingHint]="roleMissingHint"
  [maxFiles]="maxFiles"
  [maxTotalSizeMb]="maxTotalSizeMb"
  [canUpload]="canUpload"
  [isLoading]="isLoading"
  [isUploading]="isUploading"
  [error]="error"
  [documents]="documents"
  [deletingDocumentIds]="deletingDocumentIds"
  (fileSelected)="onFileSelected($event)"
  (deleteRequested)="onDeleteRequested($event)"
  (reloadRequested)="onReloadRequested()"
></sh-hwk-document-upload-presentation>
