<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
</form>
@if (addressErrorMessage) {
<p class="text-red-500 text-sm mt-2">{{ addressErrorMessage }}</p>
} @if (localityErrorMessage) {
<p class="text-red-500 text-sm mt-2">{{ localityErrorMessage }}</p>
} @if (oeidMissing$ | async) {
<div class="font-bold text-red-500 text-xl mt-4">
  Bitte beachte, dass an
  {{
    this.model['St68'] === 'st68Ans-1'
      ? 'Deinem Wohnort'
      : 'Deiner Geschäftsadresse'
  }}
  noch nicht über startuphafen.sh gegründet werden kann!
</div>
}
